.form-group {
  padding-top: 4px;
}

.text_field {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.sign_up {
  text-align: center;
}
