<h1>Welcome! Check In By Entering Your Phone Number</h1>

<%= form_tag({controller: "subscribers", action: "visit"}, method: "get") do %>
  <div class="form-group">
    <p>
  <%= text_field_tag :phone_number, placeholder: "Check In", class: "text_field" %>
    </p>
  </div>
  <%= submit_tag "Check In" %>
<% end %>


<h2>Let us get to know you more <%= link_to 'Comment', new_comment_path %> </h2>
