@import "public/navbar";
@import "public/data-tables";
@import "public/sign-up";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

p, div, a, td, tr {
    font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #F0F0F0;
}
