<ul>
  <li><%= link_to 'Home', root_path, id: "logo" %></li>
  <li><%= link_to 'Subscribers', subscribers_path %></li>
  <li><%= link_to 'Sign Up', new_subscriber_path %></li>
  <li><%= link_to 'Check In', subscribers_search_path %></li>
</ul>
